# Курс «Python для анализа данных»

---
#2.2 Типы данных. Идентификаторы и ключевые слова. Целочисленные типы и числа с плавающей запятой. Строки

## Где мы сейчас?

<html>
 <head>
  <meta charset="utf-8">
 </head>
 <body>
  <ul>
    <li>1. Введение в анализ данных и разработку на языке Python </li> <!-2.1->
    <li>2. <strong>Основы языка</strong> <i><- В этой главе!</i>
     <ul>
      <li>2.1 Быстрое введение. Синтаксические основы языка Python</li>
      <li><strong>2.2 Типы данных. Идентификаторы и ключевые слова. Целочисленные типы и числа с плавающей запятой. Строки</strong> <i><- В этой части!</i></li>
      <li>2.3 Типы коллекций. Последовательности, множества, отображения</li>
      <li>2.4 Управляющие структуры. Условные ветвления и циклы </li>
      <li>2.5 Функции</li>
      <li>2.6 Модули</li>
      <li>2.7 Обработка исключений</li>
      <li>2.8 Объектно-ориентированное программирование</li>
      <li>2.9 Обзор стандартной библиотеки языка Python</li>
     </ul>
    </li>   
  </ul>
 </body>
</html>

## Краткий обзор занятия

Рассматриваем ключевое понятие любого языка программирования — тип обрабатываемых данных. А также правила задавания имен переменным и зарезервированные ключевые слова.

## Ключевые слова, понятия и выражения

*   ```int```;
*   ```float```;
*   ```str```;
*   ```complex```;
*   ```bool```.

## Материал

### Идентификаторы и ключевые слова

Идентификаторы — имена, которые дают ссылкам на объекты. Они могут состоять из букв, нижнего подчеркивания и цифр, но не могут начинаться с цифры. Общая договоренность по использованию идентификаторов представлена в [PEP8](https://www.python.org/dev/peps/pep-0008/#naming-conventions).

Cтили идентификаторов:
*    b — одиночная маленькая буква;
*    B — одиночная заглавная буква;
*    lowercase — слово в нижнем регистре;
*    lower_case_with_underscores — слова из маленьких букв с подчеркиваниями;
*    UPPERCASE — заглавные буквы;
*    UPPERCASE_WITH_UNDERSCORES — слова из заглавных букв с подчеркиваниями;
*    CapitalizedWords — слова с заглавными буквами (или CapWords, CamelCase);
*    mixedCase — отличается от CapitalizedWords тем, что первое слово начинается с маленькой буквы;
*    Capitalized_Words_With_Underscores — слова с заглавными буквами и подчеркиваниями (уродливо!).

Ключевые слова — это слова, зарезервированные языком программирования, которые не должны присваиваться ссылкам на объекты во избежание ошибок.

![alt text](https://drive.google.com/uc?id=1OJCIO0wkf3TWMsqKXSOIGjVRJuKOHb3e)

### Целочисленные типы

#### Целые числа

Целые числа мы можем представить в любой системе счисления.

In [ ]:
# Десятичное число
14600926

14600926

In [ ]:
# Двоичное число. Перед его записью ставим префикс 0b
0b01000111

71

In [ ]:
# Восьмеричное число. Перед его записью ставим префикс 0o
0o14123

6227

In [ ]:
# Шестнадцатеричное число. Перед его записью ставим префикс 0x
0xAAFF

43775

Для перевода чисел из одного счисления в другое мы можем использовать соответствующие функции:

In [ ]:
n = 75
print(n)
print(bin(n))
print(oct(n))
print(hex(n))

75
0b1001011
0o113
0x4b

На прошлом занятии мы рассмотрели арифметические операции над числами. Полный список можно посмотреть в таблице.

Арифметические операции:

![alt text](https://drive.google.com/uc?id=1RZoyyJ2zl0432ba1FpgcrlH8i7YW2dMD)

In [ ]:
abs(-1)

1

In [ ]:
round(2.123, 1)

2.1

Также мы можем использовать побитовые операции. Такие операции совершают с двоичными числами.

Битовые операторы:

![alt text](https://drive.google.com/uc?id=1dsV4uTQfZO_kQ7fqUMo_2MtOd0AzNvD8)

In [ ]:
for i in range(10):
  print(i, bin(1<<i),'\t', 1<<i)

0 0b1 	 1
1 0b10 	 2
2 0b100 	 4
3 0b1000 	 8
4 0b10000 	 16
5 0b100000 	 32
6 0b1000000 	 64
7 0b10000000 	 128
8 0b100000000 	 256
9 0b1000000000 	 512

#### Логические значения

Мы с вами уже встречали логические значения на прошлом занятии. Пример таких значений — логические выражения. Но мы можем использовать их комбинацию с помощью операций `and` и `or`. `and` используем, когда необходимо, чтобы все значения были истинными. `or` используем, когда нужно, чтобы хотя бы одно значение было истинным.

На самом деле `True` и `False` — это 0 и 1 соответственно.

In [ ]:
t = True
f = False

In [ ]:
t and f

False

In [ ]:
t or f

True

In [ ]:
print(t+t)

2

### Тип чисел с плавающей запятой

Мы можем записать числа `float` в виде «научной записи». Для этого в конце добавляем `e+n` или `e+n`. Эта запись означает, что нужно умножить число на 10 в степени `n`:

In [ ]:
0.0, 5.4, -2.5, 8.9e-4, 8.9e+4

(0.0, 5.4, -2.5, 0.00089, 89000.0)

### Комплексные числа

Еще один тип чисел — это комплексные числа, с которыми мы знакомы из курса математики. Их редко используют, поэтому просто помним, что они существуют.

In [ ]:
z = -4.0 + 3.0j
print(type(z))
print('Re=',z.real)
print('Im=',z.imag)

<class 'complex'>
Re= -4.0
Im= 3.0

### Строки

Строки задают с помощью одинарных или двойных кавычек. Строкой считается все, что находится между двумя кавычками. Из-за этого мы не можем просто использовать кавычки внутри строк, которые определили через такие же кавычки. Если мы хотим это сделать, нам нужно их экранировать:

In [ ]:
# Использование кавычек
str1 = "It's a table"
print(str1)
str1 = "It is \"a table\""
print(str1)

It's a table
It is "a table"

Либо мы можем просто использовать разные кавычки:

In [ ]:
# Использование апострофов
str2 = 'It is "a table"'
print(str2)
str2 = 'It\'s a table'
print(str2)

It is "a table"
It's a table

Еще мы можем использовать многомерные строки, взяв их в три одинарные кавычки:

In [ ]:
# Использование тройных кавычек
str3 = '''- Привет! 
- Как "дела'?
- Хорошо'''
print(str3)

- Привет!
- Как "дела'?
- Хорошо

Символ `\n` — это перенос строки.

In [ ]:
str3

'- Привет! \n- Как "дела\'?\n- Хорошо'

В строках мы можем обратиться к каждому символу по отдельности, используя индексацию, или взять целую часть строки с помощью срезов. Срезы указывают в квадратных скобках, где прописывают три числа, разделенные двоеточиями:

- первое — начальный индекс;
- второе — конечный индекс + 1 (он не включается в срез);
- третье — шаг, с которым мы отбираем элементы строки.

Эти параметры могут как положительными, так и отрицательными (отрицательный индекс — это номер элемента с конца). Их можно использовать по отдельности, но все равно нужно ставить двоеточие, чтобы Python понимал, какой именно параметр мы хотим задать.

In [ ]:
# Срезы строк
print(str1)
print('-'*10)
print(str1[0:5])
print('-'*10)
print(str1[3:5])
print('-'*10)
print(str3)
print('-'*10)
print(str3[-6:])
print('-'*10)
print(str3[0::1])
print('-'*10)
print(str3[0::2])
print('-'*10)
print(str3[::-1])

It is "a table"
----------
It is
----------
is
----------
- Привет!
- Как "дела'?
- Хорошо
----------
Хорошо
----------
- Привет!
- Как "дела'?
- Хорошо
----------
-Пие!
 а дл'
 ооо
----------
ошороХ -
?'алед" каК -
 !тевирП -

Чтобы лучше понять, как работают операции, которые мы изучили на занятии, рекомендуем самостоятельно поэкспериментировать с ними.

## Дополнительные материалы и литература



*   Саммерфилд М., 
«Программирование на Python 3. Подробное руководство» — Пер. с англ. — СПб.: Символ-Плюс, 2009. - 608 с, ил., ISBN: 978-5-93286-161-5 С. 68.
*   https://habr.com/ru/post/450474/
*   https://tproger.ru/translations/python-data-types/